syntax: glob
*.orig
*.suo
.git
Build/
Documentation/Documentation/*
Documentation/Artifacts/*
Documentation/Manual/_build/*
Configuration/Configuration/bin/**
Configuration/Configuration/obj/**
Artifacts/**
BP Files/Page.cpp
BP Files/RetroFE.cpp
/.vs
/RetroFE/Builds
/RetroFE/Build2
.DS_Store
.vscode/settings.json
RetroFE/ThirdPartyMac/*
RetroFE/xcode/CMakeFiles/3.27.8/CMakeCCompiler.cmake
RetroFE/xcode/CMakeFiles/3.27.8/CMakeCXXCompiler.cmake
RetroFE/xcode/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
RetroFE/xcode/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
RetroFE/xcode/CMakeFiles/3.27.8/CMakeSystem.cmake
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CMakeCCompilerId.c
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/all-product-headers.yaml
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-non-framework-target-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-all-target-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-generated-files.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-own-target-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC-project-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.xcent
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/CompilerIdC.xcent.der
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/DerivedSources/Entitlements.plist
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CMakeCCompilerId.d
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CMakeCCompilerId.dia
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CMakeCCompilerId.o
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CompilerIdC_dependency_info.dat
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.build/Debug/CompilerIdC.build/Objects-normal/arm64/CompilerIdC.LinkFileList
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/CompilerIdC.xcodeproj/project.pbxproj
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/build.db
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/build-request.json
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/description.msgpack
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/manifest.json
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/target-graph.txt
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/task-store.msgpack
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/attachments/177becd055ce63eae4d9f1e7ec0ce515
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/attachments/a51551c9d91c1a367693ffa4732dedf6
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/attachments/d3b8c2ed366eefbca5282454bb718ae9
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdC/XCBuildData/7f4cf8f0eeb7f8543fd67e93552978f0.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CMakeCXXCompilerId.cpp
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/all-product-headers.yaml
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-non-framework-target-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-all-target-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-generated-files.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-own-target-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX-project-headers.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.hmap
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.xcent
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/CompilerIdCXX.xcent.der
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Script-2C8FEB8E15DC1A1A00E56A5D.sh
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/DerivedSources/Entitlements.plist
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.d
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.dia
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CMakeCXXCompilerId.o
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CompilerIdCXX_dependency_info.dat
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.build/Debug/CompilerIdCXX.build/Objects-normal/arm64/CompilerIdCXX.LinkFileList
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/CompilerIdCXX.xcodeproj/project.pbxproj
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/build.db
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/build-request.json
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/description.msgpack
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/manifest.json
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/target-graph.txt
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/task-store.msgpack
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/attachments/8bba4233626f64a7ea772bb94a08a1a9
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/attachments/177becd055ce63eae4d9f1e7ec0ce515
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/attachments/46906bbef5a68fe3b85934ee52eba77b
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/attachments/a51551c9d91c1a367693ffa4732dedf6
RetroFE/xcode/CMakeFiles/3.27.8/CompilerIdCXX/XCBuildData/a6556d3f5931011cc8eed583b3153745.xcbuilddata/attachments/fd8314defc70a8778956f026c0ddfd19
RetroFE/xcode/CMakeFiles/cmake.check_cache
